# Output files
*.o
*.sym
kernel/kernel
loader/loader
*.iso
iso/

# Common editor files
*~
.*.swp
.*.swo

# Emacs (common editor files)
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
